* @kinde-starter-kits/giants-kinde
Gemfile @kinde-starter-kits/sdk-engineers
**/Gemfile @kinde-starter-kits/sdk-engineers
Gemfile.lock @kinde-starter-kits/sdk-engineers
**/Gemfile.lock @kinde-starter-kits/sdk-engineers
build.gradle @kinde-starter-kits/sdk-engineers
**/build.gradle @kinde-starter-kits/sdk-engineers
build.gradle @kinde-starter-kits/sdk-engineers
**/build.gradle @kinde-starter-kits/sdk-engineers
package.json @kinde-starter-kits/sdk-engineers
**/package.json @kinde-starter-kits/sdk-engineers
